@model ProductBrand
@{
    ViewData["Title"] = "Edit Brand";
    Layout = "_Layout";
}
<form method="post" asp-action="Edit" class="mt-4">
			<input asp-for="Id" hidden />

	<div class="form-group m-2">
		<label class="col-form-label" asp-for="Name">Brand Name :</label>
		<input asp-for="Name" class="form-control" />
	     <span asp-validation-for="Name" class="text-danger"></span>
		<div class="input-group mt-2 justify-content-center ">
			<button type="submit" class="btn btn-success m-2">Save</button>
			<a class="btn btn-secondary m-2" asp-action="index">Back</a>
		</div>
	</div>
</form>